.scale-up-tr{-webkit-animation:scale-up-tr 1s cubic-bezier(.39,.575,.565,1.000) .1s both;animation:scale-up-tr 1s cubic-bezier(.39,.575,.565,1.000) .1s both}

@-webkit-keyframes scale-up-tr{0%{-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:100% 0;transform-origin:100% 0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:100% 0;transform-origin:100% 0}}@keyframes scale-up-tr{0%{-webkit-transform:scale(.5);transform:scale(.5);-webkit-transform-origin:100% 0;transform-origin:100% 0}100%{-webkit-transform:scale(1);transform:scale(1);-webkit-transform-origin:100% 0;transform-origin:100% 0}}

.scale-up-ver-top{-webkit-animation:scale-up-ver-top 1s cubic-bezier(.39,.575,.565,1.000) .8s both;animation:scale-up-ver-top 1s cubic-bezier(.39,.575,.565,1.000) .5s both}

 @-webkit-keyframes scale-up-ver-top{0%{-webkit-transform:scaleY(.4);transform:scaleY(.4);-webkit-transform-origin:100% 0;transform-origin:100% 0}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:100% 0;transform-origin:100% 0}}@keyframes scale-up-ver-top{0%{-webkit-transform:scaleY(.4);transform:scaleY(.4);-webkit-transform-origin:100% 0;transform-origin:100% 0}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:100% 0;transform-origin:100% 0}}

.Horizontal{
    height: 2px;
    background-color: #000000;
    color: #000000;
}

 